section.about#about
  .wrapper.about__wrapper
    header.about__header
      h2.anim О премии:
      p.about__vr.anim
        a(href="https://veganrussian.ru/" target="_blank").about__vr-link Vegan Russian 
        span — сайт о веганских товарах, которые можно купить в России.
      p.about__description.anim Мы проверяем составы продуктов и делаем из них онлайн-каталог. А ещё мы помогаем производителям создавать веганские новинки.
      p.about__description.anim Наша работа тесно связана с веганскими продуктами, поэтому мы решили создать премию «Выбор веганов». Наши цели:
      ul.about__benefits
        li.about__benefit.anim
          span.about__tilde ~
          p замотивировать производителей на создание интересных и качественных продуктов.
        li.about__benefit.anim
          span.about__tilde ~
          p показать, какие продукты, по мнению потребителей,  являются лучшими в своей категории на 2021 год.
