footer.footer
  .footer__blob-1: img(data-src="./images/footer-blob-01.webp", alt="").lozad
  .footer__blob-2: img(data-src="./images/footer-blob-02.webp", alt="").lozad
  .wrapper.footer__wrapper#contacts
    h2.anim Контакты
    a(href="mailto:info@veganrussian.com").footer__email.anim info@veganrussian.com
    .footer__socs.anim
      a(href="https://www.instagram.com/vegan.russian/" target="_blank"): include ./../../../images/inst.svg
      a(href="https://t.me/veganrussiantg" target="_blank").footer__tg: include ./../../../images/tg.svg

