section.prizes
  .wrapper
    h2.anim Призы для победителей:
    .prizes__items.anim
      .prizes__item
        img(data-src="./images/medal.webp", alt="" height="211").lozad.prizes__img-1
        div
          h3 Маркетинговый:
          p лейбл «Выбор веганов 2022»
            br
            |для упаковки
      .prizes__item.prizes__item_diploma
        img(data-src="./images/diploma.webp", alt="" height="211").lozad.prizes__img-2
        div
          h3 Символический:
          p Диплом о победе в
            br
            |номинации

