section.promo
  .promo__main
    .wrapper.promo__content
      .promo__content-wrapper
        h1.promo__title.animate__slideInLeft Выбери лучшие
          br
          | веганские продукты
        p.promo__subtitle.animate__slideInLeft <strong>«Выбор веганов»</strong> – премия для производителей веганских продуктов. Победителей выбирают потребители.
        .promo__cta.anim
          a(href="/results-2022.html").btn результаты 2022 года
      .promo__logo
        img(src="./images/award.webp", alt="Логотип премии").anim
        .promo__dots: img(src="./images/dots.svg", alt="").hide-for-md
    .promo__blob
      img(src="./images/blob.webp", alt="").lozad.hide-for-md
      img(src="./images/blob-dotted-promo.webp", alt="").lozad.hide-for-md-up
    .promo__blobs-group
      img(src="./images/blobs-group.webp", alt="").lozad.hide-for-md
      img(src="./images/blob-mobile-promo.webp", alt="").lozad.hide-for-md-up
