section.results
  .wrapper
    h1.anim Результаты голосования мы опубликуем на этой странице и в соцсетях Vegan Russian 28 декабря.
    img(src="./images/ellipse-yellow.svg", alt="").results__ellipse-yellow.hide-for-md
    img(src="./images/ellipse-purple.svg", alt="").results__ellipse-purple.hide-for-md
