section.steps
  .wrapper#rules
    h2.anim Как проходит премия:
    .steps__item.anim
      .steps__number 1
      .steps__content
        h3 Определение номинантов
        .steps__text
          p У номинантов много положительных отзывов на сайте veganrussian.ru.
    .steps__item.anim
      .steps__number 2
      .steps__content
        h3 Голосование
        .steps__text
          p На этом сайте мы включаем голосование по номинациям.
            br
            | У потребителй есть чуть меньше месяца, чтобы отдать свой голос.

          p Мы хотим, чтобы эта премия была не о том, у кого больше подписчиков или сотрудников. Производители, не призывайте голосовать за себя.
          p Мы будем внимательно следить за голосованием и оставляем за собой право дисквалифицировать за накрутку голосов.

          p Сроки голосования: с 5 по 27 декабря 2022.
    .steps__item.anim
      .steps__number 3
      .steps__content
        h3 Итоги голосования и награждение
        .steps__text
          p После закрытия голосования мы подведём итоги и выложим их на этом сайте и в наших соцсетях.
          p После Нового Года мы свяжемся с победителями, чтобы уточнить адрес доставки и отправим дипломы.

